.title {
  width: 60%;
}

.backchi {
  width: 100%;
  height: 200px;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.backchi h1 {
  font-size: 50px;
  font-weight: bolder;
}

.firstchi {
  display: flex;
  gap: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.imgchisiamo {
  width: 40%;
  margin-left: 5%;
}
.firsttext {
  margin-right: 5%;
}

@media (max-width: 769px) {
  .title {
    width: 50%;
  }

  .firstchi {
    display: table;
    gap: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .imgchisiamo {
    width: 50%;
    margin-left: 25%;
    display: table-footer-group;
    margin-top: 3%;
  }
  .firsttext {
    margin-right: 5%;
    display: table-header-group;
  }
  .firsttext h3 {
    text-align: center;
  }
  .ptext {
    width: 80%;
    margin-left: 10%;
  }
}
