.title {
  width: 60%;
}

.back {
  width: 100%;
  height: 600px;
  background-image: url("../images/imgbackground1.jpg");
  background-repeat: round;
  background-size: cover;
  transition: all 0.8s;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.back h2 {
  font-size: var(--size-bigXL);
  color: white;
  text-align: center;
  margin-top: 2%;
}

.titlehome {
  margin-top: 5%;
  /* font-size: 50px; */
  font-size: var(--size-bigXXXL);
  color: white;
}

.first {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 5%;
  margin-top: 5%;
}

.imghistory {
  width: 25%;
  margin-right: 8%;
  height: 500px;
}

.first-text {
  margin-left: 5%;
}

.first-text-p {
  width: 80%;
}

.first-text h2 {
  margin-bottom: 3%;
  font-size: 30px;
  text-transform: uppercase;
}

.btnhistory {
  width: 30%;
  height: 50px;
  border-radius: 10px;
  background-color: #fb984c;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 7%;
}

.btnmenu {
  width: 30%;
  height: 50px;
  border-radius: 10px;
  background-color: #fb984c;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 800;
  cursor: pointer;
  margin-top: 7%;
  text-decoration: none;
  padding: 15px;
}

.second {
  display: flex;
  width: 100%;
  height: 500px;
  align-items: flex-start;
  margin-top: 3%;
  justify-content: space-evenly;
  background-color: lightgray;
}

.secondtext {
  width: 70%;
  margin-top: 2%;
  margin-bottom: 10%;
}

.scoprisocial {
  font-weight: bolder;
}

.imgsocial {
  width: 30%;
  margin-top: 8%;
  margin-left: 5%;
  transition: all 0.2s;
}

.imgsocial:hover {
  transform: scale(1.5);
  transition: all 0.2s;
}

.second h2 {
  text-transform: uppercase;
  font-size: 30px;
}

.seconddiv {
  margin-top: 4%;
  width: 50%;
}

.third {
  display: flex;
  align-items: center;
  height: 500px;
  gap: 8%;
}

.costumers,
.prof,
.assistance {
  text-align: center;
  width: 33%;
}

.textcostumers,
.textprof,
.textassistance {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-top: 1%;
  font-size: 13px;
}

.fourth h4 {
  font-size: 25px;
  font-weight: bolder;
}

.fourth {
  width: 100%;
  height: 500px;
  background-color: lightgray;
  display: flex;
  gap: 7%;
  justify-content: center;
}

.fourthtext {
  margin-top: 5%;
}

.fourth p {
  width: 70%;
  margin-top: 1%;
}

.fourthtext {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.partners {
  margin-top: 5%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.iconpart {
  padding: 2%;
  border-radius: 18px;
  cursor: pointer;
}

.imgpart {
  width: 80%;
}

.fourth ul {
  margin-top: 3%;
  margin-left: 15%;
}
.attributes {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.part {
  display: flex;
  align-items: center;
  gap: 3%;
  transition: all 0.5s;
  margin-top: 5%;
  justify-content: center;
}

.imgmenu {
  width: 30%;
  margin-left: 5%;
  margin-top: 4%;
}

@media all and (max-width: 1300px) {
  .imghistory {
    height: 400px;
  }
}

@media all and (max-width: 1100px) {
  .navbar a {
    text-decoration: none;
    color: white;
    font-size: 17px;
    text-transform: uppercase;
  }

  .logo {
    width: 40px;
    height: 40px;
    margin-left: 3%;
  }
  .title {
    width: 50%;
  }
  .back {
    height: 450px;
  }

  .back h2 {
    font-size: var(--size-default);
    margin-top: 4%;
  }
  /* .titlehome {
    width: 40%;
    margin-left: 30%;
  } */
  /* .first {
    height: 450px;
  } */
  .imghistory {
    height: 300px;
  }

  .first-text-p {
    font-size: 15px;
  }

  .btnhistory {
    font-weight: 700;
  }
  .second {
    height: 450px;
  }
  .secondtext {
    font-size: 15px;
  }
  .scoprisocial {
    font-size: 15px;
  }

  #second h2 {
    font-size: 25px;
  }

  .fourth h4 {
    text-align: center;
  }

  .socialicon {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 769px) {
  .first {
    width: 100%;
    height: 650px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
    margin-top: 5%;
  }
  .imghistory {
    height: 200px;
    width: 50%;
    margin: 0;
  }

  .first-text-p {
    margin-left: 10%;
  }
  .first-text h2 {
    text-align: center;
  }
  .formbtn {
    text-align: center;
  }
  .btnhistory {
    font-weight: 700;
    margin-bottom: 3%;
  }
  .second {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 550px;
    gap: 50px;
  }
  .secondtext {
    width: 80%;
    margin: 0;
  }
  .scoprisocial {
    margin-top: 10%;
  }
  .socialdiv {
    top: 176px;
  }
  .imgsocial {
    order: 2;
    margin: 0;
  }
  .second {
    height: auto;
  }
  .second h2 {
    margin-top: 2%;
  }
  .seconddiv {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    order: 1;
    width: 100%;
    gap: 40px;
  }
  .third {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5%;
    height: auto;
    margin-top: 8%;
    margin-bottom: 10%;
  }
  .costumers,
  .assistance,
  .prof {
    margin-bottom: 5%;
    width: 70%;
  }

  .fourth ul {
    margin-left: 15%;
  }
  .footer {
    grid-row: 4/6;
  }
  /* .social-container {
    margin-top: 10%;
  } */
  .imgmenu {
    margin-bottom: 5%;
  }
  .titlehome {
    font-size: var(--size-bigXL);
  }
  .first-text-p,
  .secondtext {
    font-size: var(--size-small);
  }
}
